# Place this file in /etc/systemd/system/gdax.service
#
# Enable it with:
#   systemctl enable gdax.service
#   systemctl daemon-reload

[Unit]
Description=gdax
After=syslog.target

[Service]
User=root
Group=root
ProtectSystem=full
Type=simple
ExecStart=/usr/bin/php <path>/bin/console app:get-gdax-wss \
--env=prod \
--no-debug \
--quiet
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target